# 20220101 new protocol per https://github.com/direnv/direnv/issues/326#issuecomment-574779485
eval "$(conda shell.zsh hook)"
conda activate squirrel_radar

# 20230525 new protocol per https://github.com/y1450/dotfiles/issues/41
# source ~/micromamba/etc/profile.d/micromamba.sh
# micromamba activate squirrel_radar
